<ul class="c-actions">
    <li class="c-action">
        <sapn class="c-actoin__title">طلبات تحتاج المعالجة 10</sapn>
        <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
        <sapn class="c-actoin__title">رسائل تحتاج الاجابة 5</sapn>
        <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <sapn class="c-actoin__title">منتجات ظرورية على وشلك النفاذ</sapn>
        <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
    </li>
</ul>